<h1>HIIIII</h1>
<div>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <label for="fname">FirstName</label>
    <input type="text" id="fname" placeholder="your first name" formControlName="firstName"/>

    <label for="lname">LastName</label>
    <input type="text" id="lname" placeholder="your last name" formControlName="lastName"/>

    <label for="email">Email</label>
    <input type="email" id="email" placeholder="your email" formControlName="email"/>
    <button>Click Me!</button>
  </form>
</div>